* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    padding: 20px;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
}

.row {
    width: 550px;
    padding-bottom: 20px;
    margin-left: 120px;
}

.btn-primary,
.btn-warning {
    margin-right: 15px;
    padding: 5px 20px;
}

.col {
    padding: 10px;
}

.mb-3 {
    width: 500px;
    text-align: center;
}

.btn-warning {
    color: #FFFF;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
    margin-right: 10px;
}